
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');



  *{
    font-family: 'Quicksand', sans-serif;
  }

#mainCon{
    padding-bottom: 200px;
}

#weatherCon{
    height: 600px;
    border-radius: 10%;
    border: 3px solid gold;
}

#humidtyIcon{
  /* width: 400px; */
}